@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    font-family: 'League Spartan', sans-serif;
}
:root{
    --bg-color:hsl(268, 75%, 9%);
    --bg-icon-toggler-or-bg-buttons:hsl(268, 71%, 12%);
    --bg-toggle-button:hsl(176, 100%, 44%);
    --bg-screen:hsl(268, 71%, 12%) ;
    --bg-button:hsl(268, 47%, 21%);
    --color-button:hsl(52, 100%, 62%);
    --color-screen:hsl(52, 100%, 62%);
    --shadow-button:hsl(290, 70%, 36%);
    --hover-button:hsl(268, 47%, 30%);
    --color-eq:white;
    --bg-reset-or-del:hsl(281, 89%, 26%) ;
    --shadow-reset-or-del:hsl(285, 91%, 52%);
    --shadow-eq:hsl(177, 92%, 70%);
    --bg-eq:hsl(176, 100%, 44%);
    --hover-reset-or-del:hsl(281, 89%, 40%);
    --hover-eq:hsl(176, 100%, 60%);
    
    --logo-or-text-theme-numbers:hsl(52, 100%, 62%);
}
body{
    background-color:var(--bg-color) ;

}
main{
    margin: 20px auto;
    height:500px;
    width: 400px;
    margin-top: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 10px;
}
.logo{
    margin-left:10px ;
    font-size: large;
    font-weight: 700; 
    color: var(--logo-or-text-theme-numbers)
}
h6{
    margin-right: 10px; 
    color: var(--logo-or-text-theme-numbers);
}
.toggler{
    position: relative;
}
.numbers{
    font-size: xx-small;
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:var(--logo-or-text-theme-numbers);
}
.icon-toggler{
    background-color: var(--bg-icon-toggler-or-bg-buttons);
    width: 40px;
    height: 15px;
    border-radius: 20px;
}
.toggle-button{
position: absolute;
width: 10px;
height: 10px;
background-color: var(--bg-toggle-button);
border-radius: 50%;
top: 25px;
left: 2px;
cursor: pointer;
}
.screen{
    height: 6rem;
    width: 400px;
    background-color:var(--bg-screen);
    border-radius: 10px;
    color: var(--color-screen);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    
}
.number-on-screen{
    margin-right: 20px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:  var(--bg-icon-toggler-or-bg-buttons);
    margin-top: 15px;
    border-radius: 10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    margin: 10px;
    color: var(--color-button);
    background-color: var(--bg-button);
    box-shadow: -3px 3px 0px var(--shadow-button);
    border-radius: 10px;
    cursor: pointer;
    font-size:32px ;
    transition: 0.2s;
}
.button:hover{
    background-color: var(--hover-button);
}
.reset{
    grid-column: span 2;
    color: white;
    background-color:var(--bg-reset-or-del);
    box-shadow: -3px 3px 0px var(--shadow-reset-or-del);
    border-radius: 10px;
    
}
.equal{
    grid-column: span 2;
    box-shadow: -3px 3px 0px var(--shadow-eq);
    border-radius: 10px;
    background-color: var(--bg-eq);
    color: var(--color-eq);
}
.del{
    color: white;
    background-color:var(--bg-reset-or-del);
    box-shadow: -3px 3px 0px var(--shadow-reset-or-del);
    border-radius: 10px;
}
.del:hover,.reset:hover{
    background-color:var(--hover-reset-or-del) ;
}
.equal:hover{
    background-color:var(--hover-eq) ;
}
.button:active{
margin-top:12px ;
margin-right:12px ;
box-shadow: none;
}
.mul{
    position: relative;
    color: var(--bg-button);
    
}
.mul:hover{
    color:var(--hover-button) ;
}
.mul::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 18px;
    transform: rotate(45deg);
    background-color: var(--color-button);
    
}
.mul::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 18px;
    transform: rotate(-45deg);
    background-color: var(--color-button);
    
}
